:host {
  display: block;
  width: 100%;
  height: 250px; /* 50px for the button, 200px for the video preview */
  background-size: 100%;
}

:host button {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 3px;
  margin: 0;

  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 2px solid rgba(0,0,0,.2);
  border-radius: 0.2rem;

  background-color: #4DB227;

  color: #ffffff;
  font-family: "FiraSans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.8rem;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;

  cursor: pointer;
  outline: none;
  overflow: hidden;
}

:host button {
  border: none;
}

:host #camerainput {
  display: none;
}

:host #hidden {
  display: none;
}

:host #videoinput {
  width: 100%;
  height: 200px;
}

:host #canvasinput {
  display: none;
  height: 200px;
}
